workflow.json
{
  "id": "attendance-query-system",
  "name": "多倉出勤請假查詢與報表系統",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "attendance-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook 接收查詢",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "attendance-query-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 節點：指令解析（規則式，不依賴 AI）\n// 功能：解析使用者自然語言 query，輸出標準 JSON\n// ============================================================\n\n// -------------------- CONFIG 區塊 --------------------\nconst CONFIG = {\n  // 所有可用倉別\n  warehouses: ['TAO1', 'TAO3', 'TAO4', 'TAO5', 'TAO6', 'TAO7', 'TAO10'],\n\n  // 意圖識別關鍵字對照表（優先順序由上到下）\n  intentKeywords: [\n    { keywords: ['病假統計'], intent: 'sick_leave_stats' },\n    { keywords: ['請假統計'], intent: 'leave_stats' },\n    { keywords: ['請假狀況', '請假'], intent: 'leave_status' },\n    { keywords: ['出勤人員', '出勤明細', '出勤報表'], intent: 'attendance_detail' },\n    { keywords: ['出勤統計'], intent: 'attendance_stats' },\n  ],\n\n  // 假別關鍵字（用於從 query 中偵測指定假別）\n  leaveTypeKeywords: [\n    { keywords: ['病假', '病'], leaveType: '病假' },\n    { keywords: ['事假', '事'], leaveType: '事假' },\n    { keywords: ['特休', '特'], leaveType: '特休' },\n    { keywords: ['曠職', '曠'], leaveType: '曠職' },\n  ],\n};\n// -------------------- END CONFIG --------------------\n\nconst query = ($input.first().json.body?.query || '').trim();\n\nif (!query) {\n  return [{\n    json: {\n      success: false,\n      error: '請提供查詢指令（query 欄位為空）',\n      hint: '範例：4/2請假狀況、查詢TAO1 4/2病假',\n    }\n  }];\n}\n\n// --- 1. 解析日期 ---\nfunction parseDate(q) {\n  const now = new Date();\n  const currentYear = now.getFullYear();\n\n  // 格式：2026/4/2 或 2026-04-02\n  let m = q.match(/(\\d{4})[\\/-](\\d{1,2})[\\/-](\\d{1,2})/);\n  if (m) {\n    return `${m[1]}-${String(m[2]).padStart(2, '0')}-${String(m[3]).padStart(2, '0')}`;\n  }\n\n  // 格式：4/2 或 04/02（無年份）\n  m = q.match(/(\\d{1,2})[\\/-](\\d{1,2})/);\n  if (m) {\n    return `${currentYear}-${String(m[1]).padStart(2, '0')}-${String(m[2]).padStart(2, '0')}`;\n  }\n\n  return null;\n}\n\n// --- 2. 解析意圖 ---\nfunction parseIntent(q) {\n  for (const rule of CONFIG.intentKeywords) {\n    for (const kw of rule.keywords) {\n      if (q.includes(kw)) return rule.intent;\n    }\n  }\n  // 預設：若有日期但無法判斷意圖，回傳 attendance_detail\n  return 'attendance_detail';\n}\n\n// --- 3. 解析倉別 ---\nfunction parseWarehouses(q) {\n  const found = [];\n  // 檢查「全部倉別」「全部倉」「所有倉」\n  if (/全部倉|所有倉|全倉/.test(q)) {\n    return CONFIG.warehouses.slice(); // 全部\n  }\n  for (const wh of CONFIG.warehouses) {\n    if (q.toUpperCase().includes(wh)) {\n      found.push(wh);\n    }\n  }\n  // 未指定 → 預設全部\n  return found.length > 0 ? found : CONFIG.warehouses.slice();\n}\n\n// --- 4. 解析假別 ---\nfunction parseLeaveType(q) {\n  for (const rule of CONFIG.leaveTypeKeywords) {\n    for (const kw of rule.keywords) {\n      if (q.includes(kw)) return rule.leaveType;\n    }\n  }\n  return '';\n}\n\n// --- 5. 判斷是否為統計/報表型查詢 ---\nfunction needReport(intent) {\n  return ['sick_leave_stats', 'leave_stats', 'attendance_stats'].includes(intent);\n}\n\nconst date = parseDate(query);\nif (!date) {\n  return [{\n    json: {\n      success: false,\n      error: '無法解析日期，請在查詢中包含日期',\n      hint: '支援格式：4/2、04/02、2026/4/2、2026-04-02',\n      originalQuery: query,\n    }\n  }];\n}\n\nconst intent = parseIntent(query);\nconst warehouse = parseWarehouses(query);\nconst leaveType = parseLeaveType(query);\n\nreturn [{\n  json: {\n    success: true,\n    parsed: {\n      intent,\n      date,\n      warehouse,\n      leaveType,\n      needReport: needReport(intent),\n    },\n    originalQuery: query,\n  }\n}];\n"
      },
      "id": "parse-query-node",
      "name": "指令解析",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "parse-success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-parse-ok-node",
      "name": "解析成功？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 節點：組裝 Google Sheets API 請求參數\n// 功能：根據解析結果，為每個倉別產生讀取請求\n// ============================================================\n\n// -------------------- CONFIG 區塊 --------------------\nconst CONFIG = {\n  // 各倉 spreadsheetId 對照表（可調整）\n  spreadsheetMap: {\n    'TAO1':  '1_bhGQdx0YH7lsqPFEq5___6_Nwq_gbelJmIHv0bmaIE',\n    'TAO3':  '1cffI2jIVZA1uSiAyaLLXXgPzDByhy87xznaN85O7wEE',\n    'TAO4':  '1tVxQbV0298fn2OXWAF0UqZa7FLbypsatciatxs4YVTU',\n    'TAO5':  '1jzVXC6gt36hJtlUHoxtTzZLMNj4EtTsd4k8eNB1bdiA',\n    'TAO6':  '1wwPLSLjl2abfM_OMdTNI9PoiPKo3waCV_y0wmx2DxAE',\n    'TAO7':  '16nGCqRO8DYDm0PbXFbdt-fiEFZCXxXjlOWjKU67p4LY',\n    'TAO10': '1y0w49xdFlHvcVtgtG8fq6zdrF26y8j7HMFh5ujzUyR4',\n  },\n\n  // 依意圖決定要讀取哪類分頁（可調整）\n  // leave 相關 → 讀假況/班表分頁\n  // attendance 相關 → 讀工時分頁\n  intentSheetType: {\n    'leave_status':      'leave',\n    'sick_leave_stats':  'leave',\n    'leave_stats':       'leave',\n    'attendance_detail': 'work',\n    'attendance_stats':  'work',\n  },\n\n  // 分頁關鍵字（可調整）\n  sheetKeywords: {\n    leave: ['班表', '出勤記錄', '假況'],\n    work:  ['出勤時數', '出勤時間', '工時'],\n  },\n};\n// -------------------- END CONFIG --------------------\n\nconst parsed = $input.first().json.parsed;\nconst warehouses = parsed.warehouse;\nconst intent = parsed.intent;\nconst sheetType = CONFIG.intentSheetType[intent] || 'leave';\nconst keywords = CONFIG.sheetKeywords[sheetType];\n\nconst results = [];\nfor (const wh of warehouses) {\n  const spreadsheetId = CONFIG.spreadsheetMap[wh];\n  if (!spreadsheetId) continue;\n  results.push({\n    json: {\n      warehouse: wh,\n      spreadsheetId,\n      sheetType,\n      sheetKeywords: keywords,\n      intent,\n      date: parsed.date,\n      leaveType: parsed.leaveType,\n      needReport: parsed.needReport,\n      originalQuery: $input.first().json.originalQuery,\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "build-requests-node",
      "name": "組裝讀取參數",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 節點：透過 Google Sheets API 讀取資料\n// 功能：先取得所有分頁名稱，找到匹配分頁，再讀取內容\n// 說明：使用 HTTP Request 方式呼叫 Google Sheets API\n//       需要在 n8n 設定 Google Service Account credentials\n// ============================================================\n\n// -------------------- CONFIG 區塊 --------------------\nconst CONFIG = {\n  // Google Sheets API base URL\n  apiBase: 'https://sheets.googleapis.com/v4/spreadsheets',\n\n  // 分頁關鍵字（與前面節點一致，集中維護）\n  sheetKeywords: {\n    leave: ['班表', '出勤記錄', '假況'],\n    work:  ['出勤時數', '出勤時間', '工時'],\n  },\n};\n// -------------------- END CONFIG --------------------\n\nconst item = $input.first().json;\nconst { warehouse, spreadsheetId, sheetType, date, intent, leaveType, needReport, originalQuery } = item;\nconst keywords = CONFIG.sheetKeywords[sheetType] || CONFIG.sheetKeywords.leave;\n\n// --- Step 1: 取得所有分頁名稱 ---\nlet sheetsMetaUrl = `${CONFIG.apiBase}/${spreadsheetId}?fields=sheets.properties.title`;\nlet sheetsResponse;\ntry {\n  sheetsResponse = await this.helpers.httpRequestWithAuthentication.call(\n    this, 'googleApi',\n    { method: 'GET', url: sheetsMetaUrl, json: true }\n  );\n} catch (e) {\n  return [{\n    json: {\n      warehouse,\n      success: false,\n      error: `無法讀取 ${warehouse} 的 Google Sheet metadata: ${e.message}`,\n      data: [],\n    }\n  }];\n}\n\nconst allSheetNames = (sheetsResponse.sheets || []).map(s => s.properties.title);\n\n// --- Step 2: 根據關鍵字找到目標分頁 ---\nlet targetSheet = null;\nlet warning = null;\nfor (const kw of keywords) {\n  const found = allSheetNames.find(name => name.includes(kw));\n  if (found) {\n    targetSheet = found;\n    break;\n  }\n}\nif (!targetSheet) {\n  // 退回第一個分頁\n  targetSheet = allSheetNames[0] || 'Sheet1';\n  warning = `${warehouse} 找不到含有 [${keywords.join(', ')}] 的分頁，已退回使用第一個分頁「${targetSheet}」。嘗試過的關鍵字：${keywords.join(', ')}。所有分頁：${allSheetNames.join(', ')}`;\n}\n\n// --- Step 3: 讀取分頁全部資料 ---\nlet dataUrl = `${CONFIG.apiBase}/${spreadsheetId}/values/${encodeURIComponent(targetSheet)}?majorDimension=ROWS`;\nlet dataResponse;\ntry {\n  dataResponse = await this.helpers.httpRequestWithAuthentication.call(\n    this, 'googleApi',\n    { method: 'GET', url: dataUrl, json: true }\n  );\n} catch (e) {\n  return [{\n    json: {\n      warehouse,\n      success: false,\n      error: `無法讀取 ${warehouse} 分頁「${targetSheet}」: ${e.message}`,\n      data: [],\n      warning,\n    }\n  }];\n}\n\nconst rows = dataResponse.values || [];\n\nreturn [{\n  json: {\n    warehouse,\n    spreadsheetId,\n    sheetType,\n    sheetName: targetSheet,\n    date,\n    intent,\n    leaveType,\n    needReport,\n    originalQuery,\n    headers: rows.length > 0 ? rows[0] : [],\n    rawRows: rows.slice(1),\n    allSheetNames,\n    warning,\n    success: true,\n  }\n}];\n"
      },
      "id": "read-sheets-node",
      "name": "讀取 Google Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 節點：資料標準化\n// 功能：將各倉原始資料映射為統一欄位格式\n// ============================================================\n\n// -------------------- CONFIG 區塊 --------------------\nconst CONFIG = {\n  // --- 工時分頁欄位映射（可調整 / 可擴充）---\n  // key = 標準欄位名, values = 原始表頭可能出現的名稱\n  workFieldMapping: {\n    date:           ['日期', 'Date', 'date'],\n    department:     ['組別', '部門', 'Department', 'department', '組', 'Group'],\n    shift:          ['班別', 'Shift', 'shift', '班次'],\n    name:           ['姓名', 'Name', 'name', '員工姓名'],\n    workHours:      ['工作總時數', '工時', 'Hours', 'workHours', 'Work Hours', '總工時'],\n    overtimeHours:  ['加班總時數', 'OvertimeHours', 'Overtime Hours', 'overtimeHours', '加班時數', '加班'],\n    note:           ['備註', 'Note', 'note', 'Remark', '說明'],\n    attendanceStatus: ['出勤狀態', 'Status', 'status', 'attendanceStatus'],\n    leaveType:      ['假況', '請假', 'LeaveType', 'leaveType', 'Leave Type', '假別'],\n  },\n\n  // --- 假況值映射（可調整 / 可擴充）---\n  leaveStatusMapping: {\n    '病假': '病假', '病': '病假', 'sick': '病假', 'sick leave': '病假',\n    '事假': '事假', '事': '事假', 'personal leave': '事假',\n    '特休': '特休', '特': '特休', 'annual leave': '特休',\n    '曠職': '曠職', '曠': '曠職', 'absent': '曠職',\n    '出勤': '出勤', '正常': '出勤', 'attendance': '出勤', 'present': '出勤',\n    '休假': '休假', '休': '休假',\n    '公假': '公假', '公': '公假',\n    '產假': '產假', '喪假': '喪假', '婚假': '婚假',\n  },\n\n  // --- 假況分頁：H 欄以後為日期欄（欄位索引從 0 開始，H = 7）---\n  leaveDateStartCol: 7,\n};\n// -------------------- END CONFIG --------------------\n\nconst item = $input.first().json;\nconst { warehouse, sheetType, headers, rawRows, date, intent, leaveType, needReport, originalQuery, warning, sheetName, allSheetNames } = item;\n\nif (!item.success) {\n  return [{ json: item }];\n}\n\n// --- 工具函式：根據 mapping 找到表頭對應的欄位索引 ---\nfunction findColumnIndex(headers, aliases) {\n  for (const alias of aliases) {\n    const idx = headers.findIndex(h => h && h.trim() === alias);\n    if (idx !== -1) return idx;\n  }\n  return -1;\n}\n\n// --- 工具函式：標準化假況值 ---\nfunction normalizeLeaveStatus(val) {\n  if (!val || val.trim() === '') return { status: '', resolved: true };\n  const v = val.trim().toLowerCase();\n  for (const [key, mapped] of Object.entries(CONFIG.leaveStatusMapping)) {\n    if (v === key.toLowerCase()) return { status: mapped, resolved: true };\n  }\n  return { status: val.trim(), resolved: false, unresolvedStatus: true };\n}\n\nlet standardizedRows = [];\n\nif (sheetType === 'work') {\n  // ----- 工時分頁標準化 -----\n  const colMap = {};\n  for (const [field, aliases] of Object.entries(CONFIG.workFieldMapping)) {\n    colMap[field] = findColumnIndex(headers, aliases);\n  }\n\n  for (const row of rawRows) {\n    const getVal = (field) => {\n      const idx = colMap[field];\n      return idx >= 0 && row[idx] !== undefined ? String(row[idx]).trim() : '';\n    };\n\n    const statusInfo = normalizeLeaveStatus(getVal('attendanceStatus') || getVal('leaveType'));\n\n    standardizedRows.push({\n      date: getVal('date'),\n      department: getVal('department'),\n      shift: getVal('shift'),\n      name: getVal('name'),\n      workHours: getVal('workHours'),\n      overtimeHours: getVal('overtimeHours'),\n      attendanceStatus: statusInfo.status,\n      leaveType: statusInfo.status,\n      note: getVal('note'),\n      warehouse,\n      ...(statusInfo.unresolvedStatus ? { unresolvedStatus: true } : {}),\n    });\n  }\n\n} else {\n  // ----- 假況分頁標準化（展平為每人每日一列）-----\n  // 表頭結構：前 N 欄為人員資訊，H 欄（index 7）以後為日期\n  const dateStartCol = CONFIG.leaveDateStartCol;\n\n  // 嘗試找出人員欄位\n  const nameColIdx = findColumnIndex(headers, ['姓名', 'Name', 'name', '員工姓名']);\n  const deptColIdx = findColumnIndex(headers, ['組別', '部門', 'Department', 'department', '組', 'Group']);\n  const shiftColIdx = findColumnIndex(headers, ['班別', 'Shift', 'shift', '班次']);\n\n  // H 欄以後為日期欄位\n  const dateHeaders = headers.slice(dateStartCol);\n\n  for (const row of rawRows) {\n    const personName = nameColIdx >= 0 ? String(row[nameColIdx] || '').trim() : '';\n    const dept = deptColIdx >= 0 ? String(row[deptColIdx] || '').trim() : '';\n    const shift = shiftColIdx >= 0 ? String(row[shiftColIdx] || '').trim() : '';\n\n    if (!personName) continue; // 跳過空行\n\n    for (let i = 0; i < dateHeaders.length; i++) {\n      const cellValue = row[dateStartCol + i];\n      if (cellValue === undefined || cellValue === null || String(cellValue).trim() === '') continue;\n\n      const statusInfo = normalizeLeaveStatus(String(cellValue));\n\n      standardizedRows.push({\n        date: dateHeaders[i] ? String(dateHeaders[i]).trim() : '',\n        department: dept,\n        shift,\n        name: personName,\n        workHours: '',\n        overtimeHours: '',\n        attendanceStatus: statusInfo.status,\n        leaveType: statusInfo.status,\n        note: '',\n        warehouse,\n        ...(statusInfo.unresolvedStatus ? { unresolvedStatus: true } : {}),\n      });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    warehouse,\n    sheetType,\n    sheetName,\n    allSheetNames,\n    date,\n    intent,\n    leaveType,\n    needReport,\n    originalQuery,\n    warning,\n    rows: standardizedRows,\n    totalRows: standardizedRows.length,\n    success: true,\n  }\n}];\n"
      },
      "id": "standardize-node",
      "name": "資料標準化",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 節點：合併所有倉別資料\n// 功能：將各倉標準化後的資料合併為一份\n// ============================================================\n\nconst allItems = $input.all();\nconst mergedRows = [];\nconst warnings = [];\nconst errors = [];\nlet date = '';\nlet intent = '';\nlet leaveType = '';\nlet needReport = false;\nlet originalQuery = '';\nconst warehouseList = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  if (!date) date = d.date;\n  if (!intent) intent = d.intent;\n  if (!leaveType) leaveType = d.leaveType;\n  if (!needReport) needReport = d.needReport;\n  if (!originalQuery) originalQuery = d.originalQuery;\n  warehouseList.push(d.warehouse);\n\n  if (d.warning) warnings.push(d.warning);\n  if (!d.success) {\n    errors.push(d.error || `${d.warehouse} 讀取失敗`);\n    continue;\n  }\n  if (d.rows && d.rows.length > 0) {\n    mergedRows.push(...d.rows);\n  }\n}\n\nreturn [{\n  json: {\n    date,\n    intent,\n    leaveType,\n    needReport,\n    originalQuery,\n    warehouses: warehouseList,\n    rows: mergedRows,\n    totalRows: mergedRows.length,\n    warnings: warnings.length > 0 ? warnings : undefined,\n    errors: errors.length > 0 ? errors : undefined,\n    success: errors.length === 0,\n  }\n}];\n"
      },
      "id": "merge-data-node",
      "name": "合併所有倉別資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 200]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// 節點：查詢與統計\n// 功能：根據意圖進行日期過濾、分類統計、明細輸出\n// ============================================================\n\n// -------------------- CONFIG 區塊 --------------------\nconst CONFIG = {\n  // 假別歸類為「請假」的類型（用於統計）\n  leaveCategories: ['病假', '事假', '特休', '曠職', '公假', '產假', '喪假', '婚假', '休假'],\n\n  // 出勤狀態視為「出勤」的值\n  attendanceValues: ['出勤', '正常', ''],\n\n  // 日期格式比對容許規則\n  // 假況分頁的日期欄位可能是「4/2」「04/02」「2026/4/2」等\n  // 需要彈性比對\n};\n// -------------------- END CONFIG --------------------\n\nconst data = $input.first().json;\nconst { date, intent, leaveType, needReport, originalQuery, rows, warehouses, warnings, errors } = data;\n\n// --- 日期比對函式 ---\nfunction matchDate(rowDate, targetDate) {\n  if (!rowDate || !targetDate) return false;\n  const rd = String(rowDate).trim();\n  const td = String(targetDate).trim(); // YYYY-MM-DD\n\n  // 完全一致\n  if (rd === td) return true;\n\n  // 嘗試解析 targetDate\n  const parts = td.split('-');\n  if (parts.length !== 3) return false;\n  const tYear = parseInt(parts[0]);\n  const tMonth = parseInt(parts[1]);\n  const tDay = parseInt(parts[2]);\n\n  // 比對 M/D 格式\n  const mdMatch = rd.match(/^(\\d{1,2})[\\/-](\\d{1,2})$/);\n  if (mdMatch) {\n    return parseInt(mdMatch[1]) === tMonth && parseInt(mdMatch[2]) === tDay;\n  }\n\n  // 比對 YYYY/M/D 格式\n  const fullMatch = rd.match(/^(\\d{4})[\\/-](\\d{1,2})[\\/-](\\d{1,2})$/);\n  if (fullMatch) {\n    return parseInt(fullMatch[1]) === tYear && parseInt(fullMatch[2]) === tMonth && parseInt(fullMatch[3]) === tDay;\n  }\n\n  return false;\n}\n\n// --- 過濾指定日期的資料 ---\nconst dateFiltered = rows.filter(r => matchDate(r.date, date));\n\n// --- 根據意圖產出結果 ---\nlet result = {};\n\nswitch (intent) {\n  case 'leave_status': {\n    // 某日請假狀況：列出所有請假人員\n    const leaveRows = dateFiltered.filter(r => {\n      const st = r.attendanceStatus || r.leaveType || '';\n      return st && !CONFIG.attendanceValues.includes(st);\n    });\n    const filteredRows = leaveType\n      ? leaveRows.filter(r => (r.leaveType || r.attendanceStatus) === leaveType)\n      : leaveRows;\n\n    result = {\n      success: true,\n      query: originalQuery,\n      intent,\n      date,\n      summaryText: `${date} 請假狀況：共 ${filteredRows.length} 人請假` +\n        (leaveType ? `（${leaveType}）` : '') +\n        `，涵蓋倉別：${warehouses.join(', ')}`,\n      totals: {\n        totalLeave: filteredRows.length,\n        byWarehouse: {},\n        byLeaveType: {},\n      },\n      rows: filteredRows,\n    };\n    // 統計\n    for (const r of filteredRows) {\n      result.totals.byWarehouse[r.warehouse] = (result.totals.byWarehouse[r.warehouse] || 0) + 1;\n      const lt = r.leaveType || r.attendanceStatus || '未分類';\n      result.totals.byLeaveType[lt] = (result.totals.byLeaveType[lt] || 0) + 1;\n    }\n    break;\n  }\n\n  case 'sick_leave_stats': {\n    // 病假統計\n    const sickRows = dateFiltered.filter(r => {\n      const st = (r.leaveType || r.attendanceStatus || '').trim();\n      return st === '病假';\n    });\n    result = {\n      success: true,\n      query: originalQuery,\n      intent,\n      date,\n      summaryText: `${date} 病假統計：共 ${sickRows.length} 人病假，涵蓋倉別：${warehouses.join(', ')}`,\n      totals: {\n        totalSickLeave: sickRows.length,\n        byWarehouse: {},\n      },\n      rows: sickRows,\n    };\n    for (const r of sickRows) {\n      result.totals.byWarehouse[r.warehouse] = (result.totals.byWarehouse[r.warehouse] || 0) + 1;\n    }\n    break;\n  }\n\n  case 'leave_stats': {\n    // 所有請假類型統計\n    const leaveRows = dateFiltered.filter(r => {\n      const st = r.attendanceStatus || r.leaveType || '';\n      return st && !CONFIG.attendanceValues.includes(st);\n    });\n    result = {\n      success: true,\n      query: originalQuery,\n      intent,\n      date,\n      summaryText: `${date} 請假統計：共 ${leaveRows.length} 人請假，涵蓋倉別：${warehouses.join(', ')}`,\n      totals: {\n        totalLeave: leaveRows.length,\n        byWarehouse: {},\n        byLeaveType: {},\n      },\n      rows: leaveRows,\n    };\n    for (const r of leaveRows) {\n      result.totals.byWarehouse[r.warehouse] = (result.totals.byWarehouse[r.warehouse] || 0) + 1;\n      const lt = r.leaveType || r.attendanceStatus || '未分類';\n      result.totals.byLeaveType[lt] = (result.totals.byLeaveType[lt] || 0) + 1;\n    }\n    break;\n  }\n\n  case 'attendance_detail': {\n    // 出勤人員明細\n    // 若是工時分頁，列出所有有資料的列\n    const detailRows = dateFiltered.length > 0 ? dateFiltered : dateFiltered;\n    result = {\n      success: true,\n      query: originalQuery,\n      intent,\n      date,\n      summaryText: `${date} 出勤人員明細：共 ${detailRows.length} 筆資料，涵蓋倉別：${warehouses.join(', ')}`,\n      totals: {\n        totalRecords: detailRows.length,\n        byWarehouse: {},\n        byDepartment: {},\n        byShift: {},\n      },\n      rows: detailRows,\n    };\n    for (const r of detailRows) {\n      result.totals.byWarehouse[r.warehouse] = (result.totals.byWarehouse[r.warehouse] || 0) + 1;\n      if (r.department) {\n        result.totals.byDepartment[r.department] = (result.totals.byDepartment[r.department] || 0) + 1;\n      }\n      if (r.shift) {\n        result.totals.byShift[r.shift] = (result.totals.byShift[r.shift] || 0) + 1;\n      }\n    }\n    break;\n  }\n\n  case 'attendance_stats': {\n    // 出勤統計\n    const statsRows = dateFiltered;\n    const totalWorkHours = statsRows.reduce((sum, r) => sum + (parseFloat(r.workHours) || 0), 0);\n    const totalOvertimeHours = statsRows.reduce((sum, r) => sum + (parseFloat(r.overtimeHours) || 0), 0);\n    result = {\n      success: true,\n      query: originalQuery,\n      intent,\n      date,\n      summaryText: `${date} 出勤統計：共 ${statsRows.length} 人出勤，總工時 ${totalWorkHours.toFixed(1)} 小時，加班 ${totalOvertimeHours.toFixed(1)} 小時，涵蓋倉別：${warehouses.join(', ')}`,\n      totals: {\n        totalRecords: statsRows.length,\n        totalWorkHours: totalWorkHours.toFixed(1),\n        totalOvertimeHours: totalOvertimeHours.toFixed(1),\n        byWarehouse: {},\n      },\n      rows: statsRows,\n    };\n    for (const r of statsRows) {\n      if (!result.totals.byWarehouse[r.warehouse]) {\n        result.totals.byWarehouse[r.warehouse] = { count: 0, workHours: 0, overtimeHours: 0 };\n      }\n      result.totals.byWarehouse[r.warehouse].count++;\n      result.totals.byWarehouse[r.warehouse].workHours += parseFloat(r.workHours) || 0;\n      result.totals.byWarehouse[r.warehouse].overtimeHours += parseFloat(r.overtimeHours) || 0;\n    }\n    // 四捨五入\n    for (const wh of Object.keys(result.totals.byWarehouse)) {\n      result.totals.byWarehouse[wh].workHours = result.totals.byWarehouse[wh].workHours.toFixed(1);\n      result.totals.byWarehouse[wh].overtimeHours = result.totals.byWarehouse[wh].overtimeHours.toFixed(1);\n    }\n    break;\n  }\n\n  default: {\n    result = {\n      success: false,\n      query: originalQuery,\n      error: `無法識別的查詢意圖：${intent}`,\n    };\n  }\n}\n\n// 補充 warnings\nif (warnings && warnings.length > 0) {\n  result.warnings = warnings;\n}\nif (errors && errors.length > 0) {\n  result.errors = errors;\n  if (result.rows && result.rows.length === 0) {\n    result.success = false;\n    result.summaryText = '查詢過程中部分倉別讀取失敗，請檢查 errors 欄位';\n  }\n}\n\n// 若查無資料\nif (result.rows && result.rows.length === 0 && result.success) {\n  result.success = false;\n  result.summaryText = `${date} 查無符合條件的資料（倉別：${warehouses.join(', ')}）`;\n}\n\n// 預留 Email 報表欄位\nresult.emailReady = true;\nresult.emailSubject = `[出勤報表] ${date} ${intent} - ${warehouses.join(', ')}`;\nresult.emailBody = result.summaryText || '';\n\nreturn [{ json: result }];\n"
      },
      "id": "query-stats-node",
      "name": "查詢與統計",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json; charset=utf-8" }
            ]
          }
        }
      },
      "id": "respond-success-node",
      "name": "回傳成功結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json; charset=utf-8" }
            ]
          }
        }
      },
      "id": "respond-error-node",
      "name": "回傳錯誤結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 450]
    }
  ],
  "connections": {
    "Webhook 接收查詢": {
      "main": [
        [{ "node": "指令解析", "type": "main", "index": 0 }]
      ]
    },
    "指令解析": {
      "main": [
        [{ "node": "解析成功？", "type": "main", "index": 0 }]
      ]
    },
    "解析成功？": {
      "main": [
        [{ "node": "組裝讀取參數", "type": "main", "index": 0 }],
        [{ "node": "回傳錯誤結果", "type": "main", "index": 0 }]
      ]
    },
    "組裝讀取參數": {
      "main": [
        [{ "node": "讀取 Google Sheets", "type": "main", "index": 0 }]
      ]
    },
    "讀取 Google Sheets": {
      "main": [
        [{ "node": "資料標準化", "type": "main", "index": 0 }]
      ]
    },
    "資料標準化": {
      "main": [
        [{ "node": "合併所有倉別資料", "type": "main", "index": 0 }]
      ]
    },
    "合併所有倉別資料": {
      "main": [
        [{ "node": "查詢與統計", "type": "main", "index": 0 }]
      ]
    },
    "查詢與統計": {
      "main": [
        [{ "node": "回傳成功結果", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-05T00:00:00.000Z",
  "versionId": "1"
}
