workflow-v5.json
{
  "id": "attendance-query-system",
  "name": "多倉出勤請假查詢與報表系統",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "attendance-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook 接收查詢",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "attendance-query-webhook"
    },
    {
      "parameters": {
        "jsCode": "// 指令解析（支援整月 + 區間 + 單日查詢）\nconst CONFIG = {\n  warehouses: ['TAO1','TAO3','TAO4','TAO5','TAO6','TAO7','TAO10'],\n  intentKeywords: [\n    { keywords: ['病假統計'], intent: 'sick_leave_stats' },\n    { keywords: ['特休統計'], intent: 'leave_stats' },\n    { keywords: ['請假統計'], intent: 'leave_stats' },\n    { keywords: ['請假狀況','請假'], intent: 'leave_status' },\n    { keywords: ['出勤時數','出勤時間','工時查詢','打卡'], intent: 'attendance_stats' },\n    { keywords: ['出勤人員','出勤明細','出勤報表'], intent: 'attendance_detail' },\n    { keywords: ['出勤統計'], intent: 'attendance_stats' },\n  ],\n  leaveTypeKeywords: [\n    { keywords: ['病假','病'], leaveType: '病假' },\n    { keywords: ['事假','事'], leaveType: '事假' },\n    { keywords: ['特休','特'], leaveType: '特休' },\n    { keywords: ['曠職','曠'], leaveType: '曠職' },\n    { keywords: ['公假'], leaveType: '公假' },\n    { keywords: ['國定假日','國假'], leaveType: '國定假日' },\n  ],\n};\nconst query = ($input.first().json.body?.query || '').trim();\nif (!query) return [{ json: { success:false, error:'請提供查詢指令', hint:'範例：4/2請假狀況、3月特休統計、3/15~4/1特休' } }];\n\nfunction parseDate(q) {\n  const now = new Date();\n  const yr = now.getFullYear();\n\n  // 區間：3/15~4/1 or 3/15-4/1 or 3/15到4/1 or 2026/3/15~2026/4/1\n  let m = q.match(/(\\d{4})[\\/-](\\d{1,2})[\\/-](\\d{1,2})\\s*[~\\-到至]\\s*(\\d{4})[\\/-](\\d{1,2})[\\/-](\\d{1,2})/);\n  if (m) return { dateFrom: m[1]+'-'+String(m[2]).padStart(2,'0')+'-'+String(m[3]).padStart(2,'0'),\n                  dateTo: m[4]+'-'+String(m[5]).padStart(2,'0')+'-'+String(m[6]).padStart(2,'0'), dateMode: 'range' };\n  m = q.match(/(\\d{1,2})[\\/-](\\d{1,2})\\s*[~\\-到至]\\s*(\\d{1,2})[\\/-](\\d{1,2})/);\n  if (m) return { dateFrom: yr+'-'+String(m[1]).padStart(2,'0')+'-'+String(m[2]).padStart(2,'0'),\n                  dateTo: yr+'-'+String(m[3]).padStart(2,'0')+'-'+String(m[4]).padStart(2,'0'), dateMode: 'range' };\n\n  // 單日完整：2026/4/2\n  m = q.match(/(\\d{4})[\\/-](\\d{1,2})[\\/-](\\d{1,2})/);\n  if (m) return { date: m[1]+'-'+String(m[2]).padStart(2,'0')+'-'+String(m[3]).padStart(2,'0'), dateMode: 'day' };\n  // 單日：4/2\n  m = q.match(/(\\d{1,2})[\\/-](\\d{1,2})/);\n  if (m) return { date: yr+'-'+String(m[1]).padStart(2,'0')+'-'+String(m[2]).padStart(2,'0'), dateMode: 'day' };\n  // 整月：3月\n  m = q.match(/(\\d{1,2})\\s*月/);\n  if (m) return { date: yr+'-'+String(m[1]).padStart(2,'0'), dateMode: 'month' };\n  // 無日期 → 當月\n  return { date: yr+'-'+String(now.getMonth()+1).padStart(2,'0'), dateMode: 'month' };\n}\n\nfunction parseIntent(q) {\n  for (const r of CONFIG.intentKeywords) for (const k of r.keywords) if (q.includes(k)) return r.intent;\n  return 'leave_status';\n}\nfunction parseWH(q) {\n  if (/全部倉|所有倉|全倉/.test(q)) return CONFIG.warehouses.slice();\n  const f=[]; for (const w of CONFIG.warehouses) if (q.toUpperCase().includes(w)) f.push(w);\n  return f.length ? f : CONFIG.warehouses.slice();\n}\nfunction parseLT(q) {\n  for (const r of CONFIG.leaveTypeKeywords) for (const k of r.keywords) if (q.includes(k)) return r.leaveType;\n  return '';\n}\n\nconst emails = $input.first().json.body?.emails || [];\nconst emails = ($input.first().json.body?.emails) || [];\nconst dateInfo = parseDate(query);\nconst intent = parseIntent(query);\nconst leaveType = parseLT(query);\nconst finalIntent = (leaveType && ['leave_status','attendance_detail'].includes(intent)) ? 'leave_stats' : intent;\n\n// Person name extraction\nlet personName = '';\nlet tmp = query;\ntmp = tmp.replace(/\\d{4}[\\/\\-]\\d{1,2}[\\/\\-]\\d{1,2}/g, '');\ntmp = tmp.replace(/\\d{1,2}[\\/\\-]\\d{1,2}/g, '');\ntmp = tmp.replace(/\\d{1,2}\\s*月/g, '');\ntmp = tmp.replace(/[~\\-到至]/g, '');\nfor (const w of CONFIG.warehouses) tmp = tmp.replace(new RegExp(w, 'gi'), '');\nconst removeKw = ['全部倉','所有倉','全倉','病假統計','特休統計','請假統計','請假狀況','請假',\n  '出勤時數','出勤時間','工時查詢','打卡','出勤人員','出勤明細','出勤報表','出勤統計',\n  '病假','事假','特休','曠職','公假','國定假日','國假',\n  '假別統計','統計','查詢','的','全部'];\nfor (const kw of removeKw) tmp = tmp.replace(new RegExp(kw, 'g'), '');\ntmp = tmp.replace(/[a-zA-Z0-9\\s]/g, '').trim();\nif (tmp.length >= 2 && tmp.length <= 4) personName = tmp;\n\nreturn [{ json: { success:true, parsed: {\n  intent: finalIntent,\n  ...dateInfo,\n  warehouse: parseWH(query),\n  leaveType,\n  needReport: true\n, personName}, originalQuery: query, emails } }];\n"
      },
      "id": "parse-query-node",
      "name": "指令解析",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "chk",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-parse-ok-node",
      "name": "解析成功？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 組裝讀取參數\nconst CONFIG = {\n  spreadsheetMap: {\n    'TAO1':'1_bhGQdx0YH7lsqPFEq5___6_Nwq_gbelJmIHv0bmaIE',\n    'TAO3':'1cffI2jIVZA1uSiAyaLLXXgPzDByhy87xznaN85O7wEE',\n    'TAO4':'1tVxQbV0298fn2OXWAF0UqZa7FLbypsatciatxs4YVTU',\n    'TAO5':'1jzVXC6gt36hJtlUHoxtTzZLMNj4EtTsd4k8eNB1bdiA',\n    'TAO6':'1wwPLSLjl2abfM_OMdTNI9PoiPKo3waCV_y0wmx2DxAE',\n    'TAO7':'16nGCqRO8DYDm0PbXFbdt-fiEFZCXxXjlOWjKU67p4LY',\n    'TAO10':'1y0w49xdFlHvcVtgtG8fq6zdrF26y8j7HMFh5ujzUyR4',\n  },\n  intentSheetType: { 'leave_status':'leave','sick_leave_stats':'leave','leave_stats':'leave','attendance_detail':'work','attendance_stats':'work' },\n  sheetKeywords: { leave:['班表','出勤記錄','假況'], work:['出勤時數','出勤時間','工時'] },\n};\nconst prev = $('指令解析').first().json;\nconst p = prev.parsed;\nconst st = CONFIG.intentSheetType[p.intent]||'leave';\n\n// 區間查詢可能跨月，需要讀取多個分頁\n// 先傳遞所有日期資訊，讓後續節點處理\nconst results = [];\nfor (const wh of p.warehouse) {\n  const sid = CONFIG.spreadsheetMap[wh]; if (!sid) continue;\n  results.push({ json: {\n    warehouse:wh, spreadsheetId:sid, sheetType:st,\n    sheetKeywords:CONFIG.sheetKeywords[st],\n    intent:p.intent,\n    date:p.date||'', dateFrom:p.dateFrom||'', dateTo:p.dateTo||'',\n    dateMode:p.dateMode||'day',\n    leaveType:p.leaveType, needReport:p.needReport,\n    originalQuery:prev.originalQuery, personName:p.personName||'', emails:p.emails||prev.emails||[]\n  } });\n}\nreturn results;\n"
      },
      "id": "build-requests-node",
      "name": "組裝讀取參數",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3456/sheets/meta?spreadsheetId={{ $json.spreadsheetId }}",
        "authentication": "none",
        "options": {}
      },
      "id": "http-get-meta-node",
      "name": "取得分頁列表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 解析分頁，組裝資料 URL（支援區間跨月）\nconst CONFIG = { sheetKeywords: { leave:['班表','出勤記錄','假況'], work:['出勤時數','出勤時間','工時'] } };\nlet prev; try { prev = $('組裝讀取參數').first().json; } catch(e) { prev = $input.first().json; }\nconst meta = $input.first().json;\nconst wh = prev.warehouse, sid = prev.spreadsheetId, st = prev.sheetType;\nconst dm = prev.dateMode || 'day';\nconst kw = CONFIG.sheetKeywords[st]||CONFIG.sheetKeywords.leave;\n\nif (meta.error || !meta.sheets) {\n  return [{ json: { ...prev, dateMode:dm, allSheetNames:[], warning:wh+' 無法取得分頁', dataUrl:'', success:false } }];\n}\nconst names = meta.sheets.map(s=>s.properties.title);\n\n// 決定要查哪些月份\nlet months = [];\nif (dm === 'range') {\n  const mFrom = parseInt((prev.dateFrom||'').split('-')[1]) || 0;\n  const mTo = parseInt((prev.dateTo||'').split('-')[1]) || 0;\n  if (mFrom && mTo) {\n    for (let m = mFrom; m <= mTo; m++) months.push(m);\n    if (mTo < mFrom) { // 跨年不太可能，但保險\n      for (let m = mFrom; m <= 12; m++) months.push(m);\n      for (let m = 1; m <= mTo; m++) months.push(m);\n    }\n  }\n} else if (dm === 'month') {\n  const m = parseInt((prev.date||'').split('-')[1]) || 0;\n  if (m) months.push(m);\n} else {\n  const m = parseInt((prev.date||'').split('-')[1]) || 0;\n  if (m) months.push(m);\n}\nmonths = [...new Set(months)];\n\n// 為每個月份找對應分頁\nconst targets = [];\nfor (const mo of months) {\n  const monthStr = mo + '月';\n  let target = null;\n  for (const k of kw) { const f=names.find(n=>n.includes(k)&&n.includes(monthStr)); if(f){target=f;break;} }\n  if (!target) { for (const k of kw) { const f=names.find(n=>n.includes(k)); if(f){target=f;break;} } }\n  if (!target) target = names[0]||'Sheet1';\n  if (!targets.includes(target)) targets.push(target);\n}\n\n// 如果沒找到任何月份，fallback\nif (targets.length === 0) {\n  for (const k of kw) { const f=names.find(n=>n.includes(k)); if(f){targets.push(f);break;} }\n  if (targets.length === 0) targets.push(names[0]||'Sheet1');\n}\n\n// 輸出多個分頁請求\nconst results = [];\nfor (const t of targets) {\n  results.push({ json: {\n    ...prev, dateMode:dm, sheetName:t, allSheetNames:names, warning:null,\n    dataUrl:'http://localhost:3456/sheets/data?spreadsheetId='+sid+'&sheetName='+encodeURIComponent(t),\n    success:true\n  } });\n}\nreturn results;\n"
      },
      "id": "parse-meta-node",
      "name": "解析分頁並組裝URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.dataUrl }}",
        "authentication": "none",
        "options": {}
      },
      "id": "http-get-data-node",
      "name": "讀取分頁資料",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 資料標準化（修正欄位索引 + header 正規化）\nconst CONFIG = {\n  leaveStatusMapping: {\n    '病假':'病假','病':'病假','事假':'事假','事':'事假',\n    '特休':'特休','特':'特休','曠職':'曠職','曠':'曠職',\n    '出勤':'出勤','正常':'出勤','休假':'休假','休':'休假',\n    '公假':'公假','公':'公假','產假':'產假','喪假':'喪假','婚假':'婚假',\n    '例':'例假','例假':'例假','例休':'例休',\n    '未':'未到','離':'離職','離職':'離職',\n    '下休(事)':'事假','下休(特休)':'特休','下休(曠)':'曠職',\n    '病(無薪)':'病假','無薪病假':'病假',\n    '國':'國定假日','國定':'國定假日','國假':'國定假日',\n    '補':'補休','補休':'補休',\n  },\n};\n\nlet prev; try { prev=$('解析分頁並組裝URL').first().json; } catch(e) { prev={}; }\nconst api = $input.first().json;\nconst wh=prev.warehouse||'', st=prev.sheetType||'work', sn=prev.sheetName||'';\nconst allSN=prev.allSheetNames||[], date=prev.date||'', intent=prev.intent||'';\nconst lt=prev.leaveType||'', nr=prev.needReport||false, oq=prev.originalQuery||'';\nconst dm=prev.dateMode||'day';\nconst emails=prev.emails||[];\nconst personName=prev.personName||'';\nconst dateFrom=prev.dateFrom||'', dateTo=prev.dateTo||'';\nconst pw=prev.warning||null;\n\nif (api.error||!api.values) return [{ json:{warehouse:wh,sheetType:st,sheetName:sn,allSheetNames:allSN,date,dateFrom,dateTo,dateMode:dm,intent,leaveType:lt,needReport:nr,originalQuery:oq,personName,emails,warning:pw,rows:[],totalRows:0,success:false,error:wh+'「'+sn+'」無資料'} }];\n\nconst hdr=api.values[0]||[], raw=api.values.slice(1);\n\n// Header 正規化比對：移除換行、空白、括號內容\nfunction normalizeH(s) { return s.replace(/[\\n\\r\\s]/g,'').replace(/\\(.*?\\)/g,'').trim(); }\nfunction fc(h, aliases) {\n  for (const a of aliases) {\n    const na = normalizeH(a);\n    const i = h.findIndex(z => z && normalizeH(z) === na);\n    if (i !== -1) return i;\n  }\n  // 子字串比對\n  for (const a of aliases) {\n    const i = h.findIndex(z => z && normalizeH(z).includes(normalizeH(a)));\n    if (i !== -1) return i;\n  }\n  return -1;\n}\n\nfunction ns(v) {\n  if (!v || v.trim()==='') return { status:'', ok:true };\n  const lv = v.trim();\n  for (const [k, m] of Object.entries(CONFIG.leaveStatusMapping)) {\n    if (lv === k) return { status:m, ok:true };\n  }\n  return { status:lv, ok:false };\n}\n\nlet rows = [];\n\nif (st === 'work') {\n  // 出勤時數表：每列一筆打卡記錄\n  const cm = {\n    date: fc(hdr, ['日期','Date']),\n    department: fc(hdr, ['組別','部門','Department','組','Group']),\n    shift: fc(hdr, ['班別','Shift','班次']),\n    name: fc(hdr, ['姓名','Name','員工姓名']),\n    clockIn: fc(hdr, ['上班時間','上班','ClockIn']),\n    clockOut: fc(hdr, ['下班時間','下班','ClockOut']),\n    workHours: fc(hdr, ['工作總時數','工時','Hours','總工時']),\n    overtimeHours: fc(hdr, ['加班總時數','OvertimeHours','加班時數','加班']),\n    note: fc(hdr, ['備註','Note','Remark']),\n  };\n  for (const r of raw) {\n    const g = f => { const i = cm[f]; return i>=0 && r[i]!==undefined ? String(r[i]).trim() : ''; };\n    const name = g('name');\n    if (!name) continue;\n    rows.push({\n      date: g('date'), department: g('department'), shift: g('shift'), name,\n      clockIn: g('clockIn'), clockOut: g('clockOut'),\n      workHours: g('workHours'), overtimeHours: g('overtimeHours'),\n      attendanceStatus: '出勤', leaveType: '', note: g('note'), warehouse: wh,\n    });\n  }\n} else {\n  // 班表：日期欄從第一個「X/X」格式的欄位開始\n  const ni = fc(hdr, ['姓名','Name','員工姓名']);\n  const di = fc(hdr, ['組別','部門','Department','組']);\n  const si = fc(hdr, ['班別','Shift','班次']);\n  // 找到第一個日期欄（格式 X/X）\n  let dsc = -1;\n  for (let i = 0; i < hdr.length; i++) {\n    if (hdr[i] && /^\\d{1,2}\\/\\d{1,2}$/.test(hdr[i].trim())) { dsc = i; break; }\n  }\n  if (dsc === -1) dsc = 8; // fallback\n  const dh = hdr.slice(dsc);\n\n  for (const r of raw) {\n    const pn = ni>=0 ? String(r[ni]||'').trim() : '';\n    const dp = di>=0 ? String(r[di]||'').trim() : '';\n    const sh = si>=0 ? String(r[si]||'').trim() : '';\n    if (!pn) continue;\n    for (let i = 0; i < dh.length; i++) {\n      const cv = r[dsc+i];\n      // 空白 = 出勤，跳過\n      if (cv === undefined || cv === null || String(cv).trim() === '') continue;\n      const s = ns(String(cv));\n      rows.push({\n        date: dh[i] ? String(dh[i]).trim() : '',\n        department: dp, shift: sh, name: pn,\n        workHours: '', overtimeHours: '', clockIn: '', clockOut: '',\n        attendanceStatus: s.status, leaveType: s.status,\n        note: '', warehouse: wh,\n        ...(!s.ok ? { unresolvedStatus: true } : {}),\n      });\n    }\n  }\n}\n\nreturn [{json:{warehouse:wh,sheetType:st,sheetName:sn,allSheetNames:allSN,date,dateFrom,dateTo,dateMode:dm,intent,leaveType:lt,needReport:nr,originalQuery:oq,personName,emails,warning:pw,rows,totalRows:rows.length,success:true}}];\n"
      },
      "id": "standardize-node",
      "name": "資料標準化",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// 合併所有倉別資料\nconst all=$input.all(), mr=[], wn=[], er=[];\nlet date='',dateFrom='',dateTo='',dateMode='day',intent='',lt='',nr=false,oq='',em=[],pn=''; const wl=[];\nfor(const it of all){const d=it.json;\n  if(!date)date=d.date||'';if(!dateFrom)dateFrom=d.dateFrom||'';if(!dateTo)dateTo=d.dateTo||'';\n  if(dateMode==='day')dateMode=d.dateMode||'day';\n  if(!intent)intent=d.intent;if(!lt)lt=d.leaveType;if(!nr)nr=d.needReport;if(!oq)oq=d.originalQuery;if(!pn)pn=d.personName||'';if(!em.length&&d.emails?.length)em=d.emails;\n  if(!wl.includes(d.warehouse))wl.push(d.warehouse);\n  if(d.warning)wn.push(d.warning);if(!d.success){er.push(d.error||d.warehouse+' 失敗');continue;}\n  if(d.rows?.length)mr.push(...d.rows);\n}\nreturn [{json:{date,dateFrom,dateTo,dateMode,intent,leaveType:lt,needReport:nr,originalQuery:oq,warehouses:wl,rows:mr,totalRows:mr.length,warnings:wn.length?wn:undefined,errors:er.length?er:undefined,personName:pn,emails:em,success:er.length===0}}];\n"
      },
      "id": "merge-data-node",
      "name": "合併所有倉別資料",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// 查詢與統計（支援單日 + 整月 + 區間）\nconst AV = ['出勤','正常',''];\nconst d = $input.first().json;\nconst { date, dateFrom, dateTo, intent, leaveType:lt, originalQuery:oq, rows, warehouses:wh, warnings, errors, emails, personName:pn } = d;\nconst dateMode = d.dateMode || 'day';\n\n// 日期轉數字（用於區間比對）\nfunction toNum(ds) {\n  // \"2026-03-15\" → 20260315, \"3/15\" → M*100+D\n  let m = String(ds).match(/^(\\d{4})-(\\d{1,2})-(\\d{1,2})$/);\n  if (m) return +m[1]*10000 + +m[2]*100 + +m[3];\n  m = String(ds).match(/^(\\d{1,2})\\/(\\d{1,2})$/);\n  if (m) return new Date().getFullYear()*10000 + +m[1]*100 + +m[2];\n  m = String(ds).match(/^(\\d{4})\\/(\\d{1,2})\\/(\\d{1,2})$/);\n  if (m) return +m[1]*10000 + +m[2]*100 + +m[3];\n  return 0;\n}\n\nfunction matchDate(rd, mode) {\n  if (!rd) return false;\n  rd = String(rd).trim();\n  if (mode === 'range') {\n    const n = toNum(rd), nf = toNum(dateFrom), nt = toNum(dateTo);\n    return n >= nf && n <= nt;\n  }\n  if (mode === 'month') {\n    const parts = (date||'').split('-');\n    if (parts.length !== 2) return false;\n    const tM = parseInt(parts[1]);\n    let m = rd.match(/^(\\d{1,2})\\/(\\d{1,2})$/);\n    if (m) return +m[1] === tM;\n    m = rd.match(/^(\\d{4})[\\/-](\\d{1,2})[\\/-](\\d{1,2})$/);\n    if (m) return +m[2] === tM;\n    return false;\n  }\n  // day mode\n  const td = date || '';\n  if (rd === td) return true;\n  const p = td.split('-');\n  if (p.length !== 3) return false;\n  const [tY,tM,tD] = p.map(Number);\n  let m = rd.match(/^(\\d{1,2})\\/(\\d{1,2})$/);\n  if (m) return +m[1]===tM && +m[2]===tD;\n  m = rd.match(/^(\\d{4})[\\/-](\\d{1,2})[\\/-](\\d{1,2})$/);\n  if (m) return +m[1]===tY && +m[2]===tM && +m[3]===tD;\n  return false;\n}\n\nfunction buildDetail(list, showDate) {\n  const grouped = {};\n  for (const r of list) {\n    const t = r.leaveType || r.attendanceStatus || '未分類';\n    if (!grouped[t]) grouped[t] = {};\n    const key = [r.warehouse, r.department, r.shift, r.name].join('|');\n    if (!grouped[t][key]) grouped[t][key] = { info: r, dates: [] };\n    if (r.date) grouped[t][key].dates.push(r.date);\n  }\n  const lines = [];\n  for (const [type, people] of Object.entries(grouped)) {\n    const uniqueCount = Object.keys(people).length;\n    lines.push('');\n    lines.push('【' + type + '】' + uniqueCount + ' 人');\n    for (const [key, data] of Object.entries(people)) {\n      const p = data.info;\n      const parts = [p.warehouse, p.department, p.shift, p.name].filter(Boolean);\n      let line = '  ' + parts.join(' / ');\n      if (showDate && data.dates.length > 0) {\n        line += '：' + data.dates.join(', ') + ' 總計：' + data.dates.length + '天';\n      }\n      lines.push(line);\n    }\n  }\n  return lines.join('\\n');\n}\n\nfunction buildWorkDetail(list) {\n  const lines = [];\n  const byDept = {};\n  for (const r of list) {\n    const dept = r.department || '未分組';\n    if (!byDept[dept]) byDept[dept] = [];\n    byDept[dept].push(r);\n  }\n  for (const [dept, people] of Object.entries(byDept)) {\n    lines.push('');\n    lines.push('【' + dept + '】' + people.length + ' 筆');\n    for (const p of people) {\n      const wh = p.workHours ? p.workHours + 'h' : '-';\n      const ot = p.overtimeHours ? '+' + p.overtimeHours + 'h加班' : '';\n      const time = (p.clockIn || p.clockOut) ? '（' + (p.clockIn||'?') + '~' + (p.clockOut||'?') + '）' : '';\n      const dt = p.date ? p.date + ' ' : '';\n      lines.push('  ' + dt + [p.shift, p.name].filter(Boolean).join('/') + ' ' + wh + ot + ' ' + time);\n      if (p.note) lines.push('    備註：' + p.note);\n    }\n  }\n  return lines.join('\\n');\n}\n\n// 日期標籤\nlet dateLabel;\nif (dateMode === 'range') {\n  dateLabel = dateFrom + ' ~ ' + dateTo;\n} else if (dateMode === 'month') {\n  dateLabel = (date||'').replace(/^(\\d{4})-0?(\\d{1,2})$/, '$1年$2月');\n} else {\n  dateLabel = date || '';\n}\n\nconst showDate = dateMode !== 'day';\n\n// 篩選資料\nlet df;\nif (dateMode === 'month') {\n  df = rows;\n} else {\n  df = rows.filter(r => matchDate(r.date, dateMode));\n}\nif (pn) df = df.filter(r => r.name && r.name.includes(pn));\n\nlet res = {};\nswitch (intent) {\ncase 'leave_status':\ncase 'leave_stats': {\n  const lr = df.filter(r => { const s = r.attendanceStatus || r.leaveType || ''; return s && !AV.includes(s); });\n  const fr = lt ? lr.filter(r => (r.leaveType || r.attendanceStatus) === lt) : lr;\n  const detail = buildDetail(fr, showDate);\n  const label = lt ? lt + '統計' : '請假統計';\n  const uniqueNames = new Set(fr.map(r => r.warehouse + '|' + r.name));\n  const nameTag = pn ? ' 【' + pn + '】' : '';\n  res = { success:true, query:oq, intent, date, dateFrom, dateTo, dateMode,\n    summaryText: dateLabel + ' ' + label + nameTag + '：共 ' + uniqueNames.size + ' 人（' + fr.length + ' 人次），倉別：' + wh.join(', ') + '\\n' + detail,\n    detailText: detail,\n    totals: { totalPeople: uniqueNames.size, totalEntries: fr.length, byWarehouse:{}, byLeaveType:{} }, rows:fr };\n  for (const r of fr) {\n    res.totals.byWarehouse[r.warehouse] = (res.totals.byWarehouse[r.warehouse]||0) + 1;\n    const t = r.leaveType || '未分類';\n    res.totals.byLeaveType[t] = (res.totals.byLeaveType[t]||0) + 1;\n  }\n  break; }\ncase 'sick_leave_stats': {\n  const sr = df.filter(r => (r.leaveType||r.attendanceStatus||'').trim() === '病假');\n  const detail = buildDetail(sr, showDate);\n  const uniqueNames = new Set(sr.map(r => r.warehouse + '|' + r.name));\n  const nameTag = pn ? ' 【' + pn + '】' : '';\n  res = { success:true, query:oq, intent, date, dateFrom, dateTo, dateMode,\n    summaryText: dateLabel + ' 病假統計' + nameTag + '：共 ' + uniqueNames.size + ' 人（' + sr.length + ' 人次），倉別：' + wh.join(', ') + '\\n' + detail,\n    detailText: detail,\n    totals: { totalPeople: uniqueNames.size, totalEntries: sr.length, byWarehouse:{} }, rows:sr };\n  for (const r of sr) res.totals.byWarehouse[r.warehouse] = (res.totals.byWarehouse[r.warehouse]||0) + 1;\n  break; }\ncase 'attendance_detail': {\n  const detail = buildDetail(df, showDate);\n  const nameTag = pn ? ' 【' + pn + '】' : '';\n  res = { success:true, query:oq, intent, date, dateFrom, dateTo, dateMode,\n    summaryText: dateLabel + ' 出勤明細' + nameTag + '：共 ' + df.length + ' 筆，倉別：' + wh.join(', ') + '\\n' + detail,\n    detailText: detail,\n    totals: { totalRecords:df.length, byWarehouse:{}, byDepartment:{} }, rows:df };\n  for (const r of df) {\n    res.totals.byWarehouse[r.warehouse] = (res.totals.byWarehouse[r.warehouse]||0) + 1;\n    if (r.department) res.totals.byDepartment[r.department] = (res.totals.byDepartment[r.department]||0) + 1;\n  }\n  break; }\ncase 'attendance_stats': {\n  const detail = buildWorkDetail(df);\n  const tw = df.reduce((s,r) => s + (parseFloat(r.workHours)||0), 0);\n  const to = df.reduce((s,r) => s + (parseFloat(r.overtimeHours)||0), 0);\n  const nameTag = pn ? ' 【' + pn + '】' : '';\n  res = { success:true, query:oq, intent, date, dateFrom, dateTo, dateMode,\n    summaryText: dateLabel + ' 出勤時數' + nameTag + '：' + df.length + ' 人，工時 ' + tw.toFixed(1) + 'h，加班 ' + to.toFixed(1) + 'h，倉別：' + wh.join(', ') + '\\n' + detail,\n    detailText: detail,\n    totals: { totalRecords:df.length, totalWorkHours:tw.toFixed(1), totalOvertimeHours:to.toFixed(1), byWarehouse:{} }, rows:df };\n  for (const r of df) {\n    if (!res.totals.byWarehouse[r.warehouse]) res.totals.byWarehouse[r.warehouse] = { count:0, wh:0, ot:0 };\n    res.totals.byWarehouse[r.warehouse].count++;\n    res.totals.byWarehouse[r.warehouse].wh += parseFloat(r.workHours)||0;\n    res.totals.byWarehouse[r.warehouse].ot += parseFloat(r.overtimeHours)||0;\n  }\n  break; }\ndefault: res = { success:false, query:oq, error:'無法識別意圖：'+intent }; }\n\nif (warnings?.length) res.warnings = warnings;\nif (errors?.length) { res.errors = errors; if (res.rows?.length === 0) { res.success = false; res.summaryText = '部分倉別讀取失敗'; } }\nif (res.rows?.length === 0 && res.success) { res.success = false; res.summaryText = dateLabel + ' 查無資料（' + wh.join(', ') + '）'; }\n\nres.emailSubject = '[出勤報表] ' + dateLabel + ' ' + (lt||intent) + ' - ' + wh.join(', ');\nres.emailBody = res.summaryText || '';\nres.emails = emails || [];\nreturn [{json:res}];\n"
      },
      "id": "query-stats-node",
      "name": "查詢與統計",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456/email",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ subject: $json.emailSubject, summaryText: $json.summaryText, rows: $json.rows, intent: $json.intent, emails: $json.emails }) }}",
        "options": {}
      },
      "id": "send-email-node",
      "name": "寄送報表 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 組合最終回傳結果\nconst queryResult = $('查詢與統計').first().json;\nconst emailResult = $input.first().json;\nreturn [{ json: {\n  ...queryResult,\n  email: emailResult.success ? emailResult.message : (emailResult.error || '未寄送'),\n}}];\n"
      },
      "id": "combine-result-node",
      "name": "組合結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-success-node",
      "name": "回傳成功結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2840,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-error-node",
      "name": "回傳錯誤結果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        450
      ]
    }
  ],
  "connections": {
    "Webhook 接收查詢": {
      "main": [
        [
          {
            "node": "指令解析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指令解析": {
      "main": [
        [
          {
            "node": "解析成功？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析成功？": {
      "main": [
        [
          {
            "node": "組裝讀取參數",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回傳錯誤結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組裝讀取參數": {
      "main": [
        [
          {
            "node": "取得分頁列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得分頁列表": {
      "main": [
        [
          {
            "node": "解析分頁並組裝URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析分頁並組裝URL": {
      "main": [
        [
          {
            "node": "讀取分頁資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取分頁資料": {
      "main": [
        [
          {
            "node": "資料標準化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "資料標準化": {
      "main": [
        [
          {
            "node": "合併所有倉別資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合併所有倉別資料": {
      "main": [
        [
          {
            "node": "查詢與統計",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查詢與統計": {
      "main": [
        [
          {
            "node": "寄送報表 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "寄送報表 Email": {
      "main": [
        [
          {
            "node": "組合結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組合結果": {
      "main": [
        [
          {
            "node": "回傳成功結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-05T03:10:00.000Z",
  "versionId": "5"
}